apiVersion: apps/v1
kind: Deployment
metadata:
  name: gke-test
  labels:
    app: gke-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gke-test
  template:
    metadata:
      labels:
        app: gke-test
    spec:
      containers:
        - name: gke-test
          # image: REGISTRY_HOSTNAME/k8s-gl-training/IMAGE:GITHUB_SHA
          image: "$REGISTRY_HOSTNAME"/"$GKE_PROJECT"/"$IMAGE":"$GITHUB_SHA"